/* ------------------------------------------------------------
TODO 1: Style all <h1> elements to be blue.
------------------------------------------------------------ */

/* ------------------------------------------------------------
TODO 2: Style elements with class "highlight" to have a
light yellow background.
------------------------------------------------------------ */

/* ------------------------------------------------------------
TODO 3: Style the element with ID "main-title" to be uppercase.
------------------------------------------------------------ */
